*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  background-color: aquamarine;
  border: 1px dashed black;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 60px 250px;
}


.container .row{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container .row .cards{
  margin: 5px;
}

main .cards .c-img{
  height: 670px;
  width: 462px;
  position: relative;
}

main .cards .c-img:hover img.hover{
  display: none
}

main .cards .c-img img{
  width: 100%;
  height: 100%;
  z-index: 1;
}

main .cards .c-img img.hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .cards .c-txt{
  max-height: 70px;
  margin-bottom: 40px;
}

main .cards .c-txt ul{
  list-style: none;
}

main .container .cards .c-txt ul li:first-child{
  font-size: 12px;
}

main .container .cards .c-txt ul li:nth-child(2){
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

strong{
  color: red;
}

main .cards .c-img .discount{
  position: absolute;
  bottom: 40px;
  left: 0px;
  color: white;
  background-color: red;
  z-index: 4;
  padding: 4px 12px;
  font-size: 14px;
}

main .cards .c-img .sostenibilità{
  position: absolute;
  bottom: 40px;
  left: 55px;
  color: white;
  background-color: green;
  z-index: 4;
  padding: 4px 12px;
  font-size: 14px;
}

main .cards .c-img .sostenibilità-last{
  position: absolute;
  bottom: 40px;
  left: 0px;
  color: white;
  background-color: green;
  z-index: 4;
  padding: 4px 12px;
  font-size: 14px;
}

main .cards .c-img .favorite{
  position: absolute;
  top: 40px;
  right: 0px;
  background-color: white;
  z-index: 4;
  padding: 12px 16px;
  font-size: 20px;
}

main .cards .c-img .favorite:hover{
  color: red;
}